* {
	margin: auto;
}

.container{
	margin: 0 auto;
	width: 960px;
}
h1, h2{
	font-family: cursive;
	color: gray;
	text-shadow: 2px 1px black;
	margin-top: 0px;
}
.place {
	float: left;
	border: 2px solid gray;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 640px;
}
.main-title{
	font-size: 30px;
	font-family: cursive;
}
a{
	text-decoration: none;
	padding-left: 90%;
}
img{
	border: 2px solid gray;
	height: 150px;
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.sidebar {
	border: 2px solid gray;
	padding: 10px;
	width: 260px;
	float: right;
}

.sidebar h3 {
	font-size: 14px;
	margin-top: 0;
}

.sidebar ol {
	font-size: 12px;
}

.footer {
	width: 100%;
	display: block;
	background-color: gray;
	height: 86px;
	text-align: center;
	padding-top: 21px;
	color: white;
	bottom: 0;
	position: fixed;
}
